<div class="two-thirds">
    <nav class="breadcrumbs" aria-label="breadcrumbs">
      <ol>
        <li><a href="/">Home</a></li>
        <li><a href="https://www.essex.gov.uk/topic/coronavirus">Coronavirus</a></li>
        <li><a href="/">Get self-isolation help</a></li>
        <li>Results</li>
      </ol>
    </nav>
    <h1 class="page-title">Your results</h1>
</div>

<%= form_with url: services_path, method: :get, local: true do |f| %>
    
    <% if notice %><p class="error"><%= notice %></p><%end%>    
    
    <fieldset class="field">
        <legend class="field__label"><h2>What do you need help with?</h2></legend>
        <div class="checkboxes">
            <% @categories.each do |c| %>
                <div class="checkbox">
                    <input class="checkbox__input" type="checkbox" name="categories[]" value="<%= c[1] %>" id="<%= c[1] %>">
                    <label class="checkbox__label" for="<%= c[1] %>"><%= c[0] %></label>
                </div>
            <% end %>                         
        </div>
    </fieldset>

    <fieldset class="field">
        <!-- <legend class="field__label">Filter by age group</legend> -->
        <p class="field__hint">Filter by age group</p>
        <div class="checkboxes age">
            <% @ages.each do |a| %>
                <div class="checkbox">
                    <input class="checkbox__input" type="checkbox" name="ages[]" value="<%= a[1] %>" id="<%= a[1] %>">
                    <label class="checkbox__label" for="<%= a[1] %>"><%= a[0] %></label>
                </div>
            <% end %>                           
        </div>
    </fieldset>   

    <%= f.submit "See results", class: "button" %>
<% end %>

<ol class="service-results">
    <% @services.each do |s| %>
        <%= render partial: "shared/service_card", locals: {s: s, recommended: false} %>
    <% end %>
</ol>

<section class="safeguarding">
    <h2>Can't find what you need?</h2>
    <p>If you’re worried about yourself or someone you care about, <a href="https://www.essex.gov.uk/topic/coronavirus">see our coronavirus hub</a> for the latest information and advice.</p>
</section>
