<div class="two-thirds">
    <nav class="breadcrumbs" aria-label="breadcrumbs">
      <ol>
        <li><a href="/">Home</a></li>
        <li><a href="https://www.essex.gov.uk/topic/coronavirus">Coronavirus</a></li>
        <li><a href="/">Get self-isolation help</a></li>
      </ol>
    </nav>  
    <h1 class="page-title">Getting help in Essex</h1>

    <p class="lede">Find support groups, local services and resources to help you cope during the coronavirus (COVID-19) pandemic.</p>
</div>

<!-- <div class="half">
    <h2>Key services</h2>
    <div class="preview-list">
        <ul>
            <li>
                <a href="https://www.essex.gov.uk/get-social-care-help">Get social care help</a> - How to get help and support if you or someone you know is struggling to cope
            </li>
            <li>
                <a href="https://www.essex.gov.uk/report-abuse-or-neglect">Report abuse or neglect</a> - Report abuse or neglect, types of abuse, safeguarding and deprivation of liberty safeguards
            </li>
            <li>
                <a href="https://www.essex.gov.uk/essex-local-offer">Local Offer for children and young people with SEND</a> - Services and support for young people aged 0-25 with special educational needs and disability
            </li>
        </ul>
    </div>
</div> -->

<%= form_with url: services_path, method: :get, local: true do |f| %>
    
    <% if notice %><p class="error"><%= notice %></p><%end%>    
    
    <fieldset class="field">
        <legend class="field__label"><h2>What do you need help with?</h2></legend>
        <div class="checkboxes">
            <% @categories.each do |c| %>
                <div class="checkbox">
                    <input class="checkbox__input" type="checkbox" name="categories[]" value="<%= c[1] %>" id="<%= c[1] %>">
                    <label class="checkbox__label" for="<%= c[1] %>"><%= c[0] %></label>
                </div>
            <% end %>                         
        </div>
    </fieldset>

    <fieldset class="field">
        <!-- <legend class="field__label">Filter by age group</legend> -->
        <p class="field__hint h4">Filter results by</p>
        <div class="checkboxes age">
            <% @ages.each do |a| %>
                <div class="checkbox">
                    <input class="checkbox__input" type="checkbox" name="ages[]" value="<%= a[1] %>" id="<%= a[1] %>">
                    <label class="checkbox__label" for="<%= a[1] %>"><%= a[0] %></label>
                </div>
            <% end %>                           
        </div>
    </fieldset>   

    <%= f.submit "See results", class: "button" %>
<% end %>
</div>
</div>

<div class="background">
    <div class="container">
        <div class="half">
            <h2>Key links</h2>
            <div class="preview-list">
                <ul>
                    <li>
                        <a href="https://www.essexeffectivesupport.org.uk/">Essex Children and Families Hub</a> – to make a children’s safeguarding referral
                    </li>
                    <li>
                        <a href="https://www.escb.co.uk/safeguarding-children-during-coronavirus-covid-19/temporary-changes-to-services-within-essex/">Essex Safeguarding Children’s Board</a> – information on keeping children safe
                    </li>
                    <li>
                        <a href="https://www.essexsab.org.uk/">Essex Safeguarding Adults Board</a> – information on keeping adults safe and making an adult’s safeguarding referral
                    </li>                    
                    <li>
                        <a href="https://www.essexcompass.org.uk/">Compass</a> – support for victims of domestic abuse
                    </li>
                    <li>
                        <a href="https://www.rethinkessexadvocacy.org/">Rethink Advocacy Essex</a> – advocacy support for all ages
                    </li>
                    <li>
                        <a href="http://www.essexlocaloffer.org.uk/">Local Offer website</a> – support for children with special educational needs and disabilities
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>