<div class="two-thirds">
    <nav class="breadcrumbs" aria-label="breadcrumbs">
      <ol>
        <li><a href="/">Home</a></li>
        <li><a href="https://www.essex.gov.uk/topic/coronavirus">Coronavirus</a></li>
        <li>Get self-isolation help</li>
      </ol>
    </nav>    
    <h1 class="page-title">Use this service to find support groups, local services and other resources to help you cope during the coronavirus pandemic</h1>

    <p class="lede">Use this service to find volunteer groups and other services in your local area who can help you cope.</p>

    <p class="important">If you're worried about your health or have coronavirus symptoms, call NHS 111 or <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/">check the NHS website</a>.</p>


    <%= form_with url: services_path, method: :get, local: true do |f| %>
        
        <% if notice %><p class="error"><%= notice %></p><%end%>
        
        <fieldset class="field">
            <legend class="field__label"><h2>What do you need help with?</h2></legend>
            <p class="field__hint">Select as many as you like</p>
            <div class="checkboxes">
                <% @categories.each do |c| %>
                    <div class="checkbox">
                        <input class="checkbox__input" type="checkbox" name="categories[]" value="<%= c[1] %>" id="<%= c[1] %>">
                        <label class="checkbox__label" for="<%= c[1] %>"><%= c[0] %></label>
                    </div>
                <% end %>
            </div>
        </fieldset>

        <%= f.submit "See results", class: "button" %>
    <% end %>
</div>
</div>
</div>

<div class="background">
    <div class="container">
        <div class="two-thirds">
            <h2>Key services</h2>
            <div class="preview-list">
                <ul>
                    <li>
                        <a href="https://www.escb.co.uk/safeguarding-children-during-coronavirus-covid-19/temporary-changes-to-services-within-essex/">Essex Safeguarding Children’s Board</a> – for children’s services and domestic abuse support
                    </li>
                    <li>
                        <a href="https://www.essexeffectivesupport.org.uk/">Effective Support for Children and Families</a> – get support from the Children and Families Hub
                    </li>
                    <li>
                        <a href="https://setdab.org/">Southend, Essex and Thurrock domestic abuse</a> - for anyone affected by domestic abuse in Essex
                    </li>
                    <li>
                        <a href="https://www.essexcompass.org.uk/">Compass</a> - help for victims of domestic abuse
                    </li>
                    <li>
                        <a href="https://www.nelft.nhs.uk/services-ewmhs">Emotional and Mental Health Wellbeing Service</a> – for advice and support to children, young people and families
                    </li>
                    <li>
                        <a href="https://www.rethinkessexadvocacy.org/">Rethink Advocacy Essex</a> – for all age advocacy support
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>