<div class="two-thirds">
    <ul class="breadcrumbs">
        <li class="breadcrumbs__crumb">
            <a href="https://www.essex.gov.uk/" lass="breadcrumbs__link">Home</a>
        </li>
        <li class="breadcrumbs__crumb">
            <a href="https://www.essex.gov.uk/topic/coronavirus" lass="breadcrumbs__link">Coronavirus</a>
        </li>
        <li class="breadcrumbs__crumb">
            Get self-isolation help
        </li>
    </ul>
    <h1 class="page-title">Get help if you’re staying at home because of coronavirus</h1>

    <p class="lede">Use this service to find volunteer groups and other services in your local area who can help you cope.</p>

    <p class="important">If you're worried about your health or have coronavirus symptoms, call NHS 111 or <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/">check the NHS website</a>.</p>
</div>
</div>

<div class="background">
    <div class="container">
        <div class="two-thirds">
            <h2>Key services</h2>
            <div class="preview-list">
                <ul>
                    <li>
                        <a href="https://www.escb.co.uk/safeguarding-children-during-coronavirus-covid-19/temporary-changes-to-services-within-essex/">Essex Safeguarding Children’s Board</a>
                        <p>Info and links to children’s services and domestic abuse support</p></li>
                    <li>
                        <a href="https://www.essexeffectivesupport.org.uk/">Effective Support Website</a>
                        <p>Information on thresholds, early help, Family Solutions, Social Care and how to request support/ make a children’s safeguarding referral</p></li>
                    <li>
                        <a href="https://setdab.org/">SETDAB</a>
                        <p>Information and advice for anyone affected by domestic abuse in Essex (victims, perpetrators or professionals)</p></li>
                    <li>
                        <a href="https://www.essexcompass.org.uk/">Compass</a>
                        <p>Help for victims of domestic abuse</p></li>
                    <li>
                        <a href="https://www.nelft.nhs.uk/services-ewmhs">Emotional and Mental Health Wellbeing Service (EWMHS, formally CAMHS)</a>
                        <p>0300 300 1600. Its one service for anyone in Essex</p></li>
                    <li>
                        <a href="https://www.rethinkessexadvocacy.org/">Advocacy – Rethink</a>
                        <p>Essex all age advocacy support</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="two-thirds">
    <% if notice %><p class="error"><%= notice %></p><%end%>

    <%= form_with url: services_path, method: :get, local: true do |f| %>

        <fieldset class="field">
            <legend class="field__label"><h2>What do you need help with?</h2></legend>
            <p class="field__hint">Select as many as you like</p>
            <div class="checkboxes">
                <% @categories.each do |c| %>
                    <div class="checkbox">
                        <input class="checkbox__input" type="checkbox" name="categories[]" value="<%= c[1] %>" id="<%= c[1] %>">
                        <label class="checkbox__label" for="<%= c[1] %>"><%= c[0] %></label>
                    </div>
                <% end %>
            </div>
        </fieldset>

        <%= f.submit "See results", class: "button" %>
    <% end %>
</div>