<div class="preview-list results">
  <ul class="grid-row">
    <li class="<% if recommended %>service-card--recommended<% end %>" data-latitude="<%= s.latitude %>" data-longitude="<%= s.longitude %>">
      <div class="result">
        <div class="column-half">
          <div class="details">
            <p class="h2"><% if s.url %><a href="<%= s.url %>"><%= s.name %></a><% end %></p>
            <p class="service-card__description"><%= s.description %></p>
            <% if s.phone %><p class="service-card__phone"><%= s.phone %> </p><% end %>
            <% if s.email %><p class="service-card__email"><a href="mailto:<%= s.email %>%">Contact by email</a></p><% end %>
            <p class="service-card__contact-prompt"><small><%= s.how_to_contact %></small></p>
          </div>
        </div>
        <div class="column-half">
          <% if s.key_point_1 or s.key_point_2 or s.key_point_3 or s.age %>
            <ul class="key-points">
              <% if s.key_point_1 %>
                <li><%= s.key_point_1 %></li>
              <% end %>
              <% if s.key_point_2 %>
                <li><%= s.key_point_2 %></li>
              <% end %>
              <% if s.key_point_3 %>
                <li><%= s.key_point_3 %></li>
              <% end %>
                <li>Appropriate for <%= s.age.join(", ") %></li>
            </ul>
          <% end %>
        </div>
      </div>
    </li>
  </ul>
</div>