<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WTKXVMZ');</script>
    <!-- End Google Tag Manager -->

    <title>Get help for children and families | Essex County Council</title>
    <link href="favicon.ico" rel="icon" />
    <meta name="viewport" content="width=device-width">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WTKXVMZ"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->    
    <div id="skiplink-container" role="region" aria-label="skiplink">
      <div>
        <a href="#content" class="skiplink" id="skiplink">Skip to main content</a>
      </div>
    </div>
    <header class="header-background">
      <div class="header">
        <div class="nav">
          <div class="logo-wrap">
            <a href="https://www.essex.gov.uk/" class="logo-text seax">
              <%= image_tag "seax.png", alt: "Essex County Council logo", height: "30", width: "36" %>
              Essex.gov.uk
            </a>
          </div>
        </div>
      </div>
    </header>

    <section class="beta-banner">
      <div class="beta-banner__inner container">
        <strong class="beta-banner__tag">Beta</strong>
        <p class="beta-banner__message">We're constantly updating this website — <a href="https://docs.google.com/forms/d/e/1FAIpQLSe6p8Eqmj8fEM1T5ORTqbXWoKDL62TfAuuvYiKyERgeedawbw/viewform?usp=sf_link">your feedback</a> helps us improve it.</p>
      </div>
    </section>

    <div class="main-content-area" id="content">
      <div class="container">
        <%= yield %>
      </div>
    </div>

    <footer id="main-footer" class="footer-container">
      <div class="footer-top">
        <div class="container">
          <div class="footer">
            <div class="nav">
              <ul class="nav-links">  
                <li><a href="https://www.essex.gov.uk/topic/about-essexgovuk">About essex.gov.uk</a></li>
                <li><a href="https://www.essex.gov.uk/accessibility">Accessibility</a></li>
                <li><a href="https://www.essex.gov.uk/cookies">Cookies</a></li>
                <li><a href="https://www.essex.gov.uk/terms-conditions">Terms and conditions</a></li>
                <li><a href="https://www.essex.gov.uk/topic/contact-us">Contact us</a></li>
                <li><a href="https://www.essex.gov.uk/topic/privacy-and-data-protection">Privacy and data protection</a></li>
                <li><a href="https://www.essex.gov.uk/site-map">Site map</a></li>
              </ul>
              <ul class="social">
                <li>
                  <a href="https://www.facebook.com/essexcountycouncil"><span class="fab fa-facebook-f"></span><span>Facebook</span></a>
                </li>
                <li>
                  <a href="https://twitter.com/essex_cc"><span class="fab fa-twitter"></span><span>Twitter</span></a>
                </li>
                <li>
                  <a href="http://www.youtube.com/user/EssexCountyCouncil"><span class="fab fa-youtube"></span><span>YouTube</span></a>
                </li>
              </ul>     
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="container">
          <div class="footer">
            <ul class="credits">
              <li class="copyright">© 2020 Built by The London Borough of Camden.</li>
              <li class="design-link">
                  <a href="https://servicedesign.blog.essex.gov.uk/">Loved by Essex County Council</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <script type="text/javascript">(function(){var sz=document.createElement("script");sz.type="text/javascript";sz.async=true;sz.src="//siteimproveanalytics.com/js/siteanalyze_310205.js";var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(sz,s)})();</script>

  </body>
</html>
